@model IEnumerable<WorshipProgramPlannerApp.DTOs.WorshipDTO>
@* IEnumerable<Worship>
 *@
@{
    ViewData["Title"] = "Index";
}

<h2>Полный список богослужений: </h2>
<hr />

@foreach (var worship in Model)
{
    <br />
    <div class="card text-dark bg-light mb-3">
        <br />
        <div class="container" class="card-header">
            <div class="row">
                <div class="col-8">
                    <h4>@worship.WorshipDate.ToString("MMMM dd"), @worship.WorshipName</h4>
                </div>
                <div class="col-4" align="right">
                    <form asp-action="Delete" asp-route-id="@worship.WorshipId" method="post" onsubmit="return confirm('Are you sure you want to delete this worship?');">
                        <button type="submit" class="btn btn-outline-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Название песни</th>
                        <th scope="col">Название стихотворения</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var program in worship.WorshipPrograms)
                    {
                        <tr>
                            <td scope="row">@program.PerformerName</td>
                            <td>@program.SongName</td>
                            <td>@program.PoetryName</td>
                            <td>@program.Comment</td>
                            <td>
                                <a asp-controller="WorshipProgram" asp-action="Edit" asp-route-id="@program.WorshipProgramId" class="btn btn-outline-dark btn-sm">
                                    ✏️ Edit
                                </a>
                                <form asp-controller="WorshipProgram" asp-action="Delete" asp-route-id="@program.WorshipProgramId" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-outline-dark btn-sm" onclick="return confirm('Are you sure you want to delete this?');">
                                        🗑️ Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<br />
<br />