@model IEnumerable<WorshipProgramPlannerApp.Models.Worship>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorshipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorshipName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorshipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorshipName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorshipId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorshipId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorshipId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
