@model IEnumerable<Worship>

@{
    ViewData["Title"] = "Index";
}

<h1>Музична програма богослужінь</h1>

<br />
<a asp-action="Create" class="btn btn-primary btn-lg" type="button">+ Додати служіння</a>
<br />
<br />

@foreach (var worship in Model)
{
    <br />
    <h4>@worship.WorshipDate.ToString("MMMM dd"), @worship.WorshipName</h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Performer</th>
                <th>Poetry</th>
                <th>Song</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in worship.WorshipPrograms)
            {
                <tr>
                    <td>@program.PerformerName</td>
                    <td>@program.PoetryName</td>
                    <td>@program.SongName</td>
                    <td>@program.Comment</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="WorshipProgram" asp-action="Create" asp-route-worshipId="@worship.WorshipId">
        <button type="button" class="btn btn-outline-success">Додати вірш або пісню</button>
    </a>

    <br />
    <br />
}
<br />
<br />