@model IEnumerable<Worship>

@{
    ViewData["Title"] = "Index";
}

<h2>Музыкальная программа богослужений</h2>
<h3>Vineland Evangelical Slavic Buptist Church</h3>

<br />
<a asp-action="Create" class="btn btn-success btn-lg" type="button">+ Добавить новое богослужение</a>
<br />
<br />


@foreach (var worship in Model)
{
    <br />
    <div class="card text-dark bg-light mb-3">
        <h4 class="card-header">@worship.WorshipDate.ToString("MMMM dd"), @worship.WorshipName</h4>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Название песни</th>
                        <th scope="col">Название стихотворения</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">-</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var program in worship.WorshipPrograms)
                    {
                        <tr>
                            <td scope="row">@program.PerformerName</td>
                            <td>@program.SongName</td>
                            <td>@program.PoetryName</td>
                            <td>@program.Comment</td>
                            <td>
                                <a asp-controller="WorshipProgram" asp-action="Delete" asp-route-worshipId="@worship.WorshipId">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />

            <a asp-controller="WorshipProgram" asp-action="Create" asp-route-worshipId="@worship.WorshipId">
                <button type="button" class="btn btn-success"> + Добавить свою песню или стих</button>
            </a>
        </div>
    </div>
    <br />
}

<a asp-action="Create" class="btn btn-success btn-lg" type="button">+ Добавить новое богослужение</a>
<br />
<br />